/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLE */

html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #ffffff;
	color: #454545;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	scroll-behavior: smooth;
}

#header {
	padding: 80px 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header h1 {
	font-size: 36px;
	color: #454545;
}

#header ul li {
	display: inline-block;
	font-size: 24px;
	margin-left: 30px;
}

#header ul li a {
	text-decoration: none;
	color: inherit;
}

#header ul li a:hover {
	text-decoration: underline;
}

#content h3 {
	margin-bottom: 40px;
	font-size: 32px;
}

#content-header {
	padding: 80px 20%;
}

#content-header h2 {
	margin-bottom: 40px;
	font-size: 64px;
}

#content-header a {
	display: block;
	margin-bottom: 40px;
	font-size: 24px;
}

#work {
	padding: 80px 20%;
	background-color: #f9f9f9;
}

#work .grid {
	margin-bottom: 40px;
}

#work .project {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 400px;
	font-size: 20px;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: 128px;
	background-position: center;
}

#work .project:nth-child(1) {
	background-image: url('../img/sence.png');
	background-color: #202020;
}

#work .project:nth-child(2) {
	background-image: url('../img/imeditor.png');
	background-color: #f1513c;
}

#work .project a {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	height: 100%;
	width: 100%;
	color: #ffffff;
	text-decoration: none;
}

#work .project h4 {
	font-size: 24px;
}

#work h4 {
	margin-bottom: 20px;
	font-size: 24px;
}

#contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 20%;
	font-size: 24px;
}

#contact p {
	line-height: 36px;
}

#contact-button {
	margin-left: 40px;
	width: 220px;
	padding: 15px 20px;
	border-radius: 40px;
	border: 1px solid #454545;
	text-decoration: none;
	text-align: center;
	background-color: transparent;
	color: #000000;
	transition: background-color .2s;
}

#contact-button:hover {
	background-color: #454545;
	color: #ffffff;
}

#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20% 40px 20%;
	font-size: 16px;
}

#footer a {
	margin-left: 20px;
	font-size: 22px;
	text-decoration: none;
	color: initial;
}

ul {
	margin-left: 40px;
	list-style-type: disc;
}

ul ul {
	margin-bottom: 40px;
	list-style-type: circle;
}

ul li:not(:last-child) {
	margin-bottom: 20px;
}

a {
	color: #454545;
	text-decoration: underline;
}

b {
	font-weight: bold;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
	#header, #content-header, #work, #contact, #footer {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media only screen and (max-width: 768px) {
	#header, #content-header, #work, #contact, #footer {
		padding-left: 5%;
		padding-right: 5%;
	}

	#header {
		padding-bottom: 40px;
	}

	#header h1 {
		font-size: 24px;
	}

	#header ul {
		display: none;
	}

	#content-header, #work, #contact {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#content-header h2 {
		font-size: 48px;
	}

	#content-header a {
		font-size: 18px;
	}

	#work .project {
		display: block;
		width: 100%;
		height: 350px;
	}

	#contact, #footer {
		flex-direction: column;
		text-align: center;
	}

	#contact-button {
		margin-left: 0;
		margin-top: 40px;
	}

	#footer div {
		margin-top: 40px;
	}
}

@media only screen and (max-width: 320px) {
	#header, #content-header, #work, #contact, #footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}
