// Colors
$main: #3498db;
$light: #f2f2f2;
$dark: #333333;
$medium: darken($light, 5%);
$menu: darken($main, 10%);

// Sizes
$menu_w: 56px;

// Grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// Breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
