@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "grid";

// Box sizing

*, *:before, *:after {
    @include box-sizing(border-box);
}

// General

body {
    color: $dark;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

// Menu

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $menu;
    text-align: center;

    ul {
        li {
            display: inline-block;

            a {
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                color: $light;

                i {
                    font-size: 24px;
                }

                span {
                    display: none;
                }

                &:hover {
                    background-color: darken($menu, 5%);
                }

                &.active {
                    background-color: darken($menu, 10%);
                }
            }
        }
    }
}

// Structure

.section {
    padding: 100px 40px;
    text-align: center;
}

#home, #projects, #contact {
    background-color: $light;
    color: $dark;
}

 #skills, #references {
    background-color: $main;
    color: $light;
}

// Section 0

.avatar {
    margin-bottom: 10px;
    border-radius: 100px;
}

#about {
    margin-bottom: 20px;
    font-size: 22px;
}

#social {
    .btn-social {
        margin: 0 5px;
        font-size: 32px;
    }
}

// Section 2

.skill {
    display: inline-block;
    margin: 5px;
    background-color: $light;

    p {
        padding: 5px 10px;
        font-weight: bold;
    }
}

// Text

h1 {
    font-size: 64px;
    font-weight: bold;
    font-family: 'Paytone One', sans-serif;
}

h2 {
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
}

h3 {
    font-size: 32px;
    text-transform: uppercase;
}

h4 {
    margin-top: 10px;
    font-size: 24px;
    font-style: italic;
}

h5 {
    margin: 10px 0;
    font-size: 18px;
    font-style: italic;
}

h1, h2, h3, h4 {
    margin-bottom: 30px;
}

p {
    line-height: 1.6em;
}

a {
    color: $dark;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

b {
    font-weight: bold;
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

// Buttons

.btn {
    display: inline-block;
    border-radius: 100px;
}

.btn-social {
    height: 70px;
    line-height: 70px;
    width: 70px;
    border: 1px solid $dark;
}

.btn-link {
    margin: 10px 0;
    padding: 10px 15px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.btn-primary {
    border: 1px solid $dark;

    &:hover {
        border-color: #2c3e50;
        background-color: #2c3e50;
        color: $light;
    }
}

.btn-secondary {
    border: 1px solid $light;
    color: $light;

    &:hover {
        border-color: $light;
        background-color: $light;
        color: $dark;
    }
}

// Cards

.card {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
    color: $dark;

    h3, h4, h5, p {
        color: $dark;
    }
}

// Social

.github:hover {
    border-color: $dark;
    background-color: $dark;;
    color: #ffffff;
}

// Responsive

@media screen and (min-width: 1024px) {
    #wrapper {
        padding-left: $menu_w;
    }

    #menu {
        top: 0;
        bottom: 0;
        width: $menu_w;
        transition: width 1s;
        text-align: left;
        overflow: hidden;

        ul li {
            display: block;

            a {
                white-space: nowrap;
                text-transform: uppercase;

                i, span {
                    display: inline-block;
                    vertical-align: middle;
                }

                i {
                    width: 40px;
                }
            }
        }

        &:hover {
            width: 250px;
        }
    }
}
