---
layout: base.njk
title: Contact
---

<section id="content-header" class="section section-bg">
    <h2>Contact</h2>
</section>

<section class="section">
    <p class="mb-40">Don't hesitate to contact me if you'd like to discuss a project, or learn more about me.</p>

    <a href="mailto:hugo.posnic@protonmail.com">👋 Drop me a mail!</a>
</section>
