---
layout: base.njk
title: Open Source Work
---

<section id="content-header" class="section section-bg">
    <h2>Open Source Work</h2>
</section>

<section class="section">
    <div>
        <h3>My favorite open-source contributions</h3>
        <ul>
            <li>Creation of <a href="https://gitlab.manjaro.org/applications/manjaro-hello">manjaro-hello</a>, welcome interface of the <abbr title="Linux Distribution based on ArchLinux">Manjaro</abbr> Linux distribution</li>
            <li>Creation of <a href="https://gitlab.manjaro.org/tools/maintenance-tools/manjaro-web-repo">manjaro-web-repo</a>, Manjaro mirrors monitoring tool</li>
            <li>Migration of the <a href="https://github.com/Kilian/Trimage/pull/47">Trimage</a> software to Python3 and Qt5</li>
            <li><a href="https://gitlab.gnome.org/GNOME/gnome-music/merge_requests/486#note_588661">First contribution</a> to the GNOME project</li>
        </ul>
    </div>
</section>
